.p-gina-principal-pc,
.p-gina-principal-pc * {
  box-sizing: border-box;
}
.p-gina-principal-pc {
  background: var(--principal, #1c0538);
  padding: 47px 0px 47px 0px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
  height: 2144px;
  position: relative;
  overflow: hidden;
}
.cabecera {
  background: var(--principal, #1c0538);
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 116px;
  height: 88px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 116/88;
}
.barra-de-b-squeda {
  background: var(--principal-de-acento, #6f12e0);
  border-radius: 70px;
  border-style: solid;
  border-color: var(--secundario, #5e3a8b);
  border-width: 3px;
  padding: 22px 53px 22px 53px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 89px;
  position: relative;
  overflow: hidden;
}
.desplegable-de-plataformas {
  flex-shrink: 0;
  width: 58px;
  height: 58px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.desplegable-plataforma {
  background: var(--texto-principal, #ffffff);
  border-radius: 70px;
  padding: 4px 269px 4px 269px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 54px;
  position: relative;
}
.frame-2 {
  padding: 10px;
  flex-shrink: 0;
  width: 77px;
  height: 77px;
  position: relative;
}
.lupa {
  width: 57px;
  height: 57px;
  position: absolute;
  left: 10px;
  top: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}
.usuario {
  background: var(--principal-de-acento, #6f12e0);
  border-radius: 70px;
  border-style: solid;
  border-color: var(--secundario, #5e3a8b);
  border-width: 3px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.usuario2 {
  flex-shrink: 0;
  width: 68px;
  height: 68px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.carrito {
  flex-shrink: 0;
  width: 66px;
  height: 66px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.anuncio-de-juego {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.anuncio-de-juego2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 450px;
  position: relative;
  object-fit: cover;
}
.juegos {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.card-de-videojuego {
  background: var(--secundario, #5e3a8b);
  border-radius: 15px;
  padding: 8px 6px 8px 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 344px;
  position: relative;
  overflow: hidden;
}
.car-tula {
  background: var(--texto-principal, #ffffff);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.car-tula2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 185.92px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 332/185.92;
}
.descuento {
  color: var(--texto-principal, #ffffff);
  text-align: left;
  font-family: var(--h2-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h2-font-size, 24px);
  font-weight: var(--h2-font-weight, 400);
  position: absolute;
  left: 54px;
  top: 8px;
  width: 131px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-text-stroke: 1px var(--principal-de-acento, #6f12e0);
}
.logo-de-plataforma {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: hidden;
}
.logo-de-plataforma2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.informaci-n {
  background: var(--secundario-alternativo-2, #2f2936);
  border-radius: 0px 0px 15px 15px;
  padding: 4px 7px 4px 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.precio {
  background: var(--principal-de-acento, #6f12e0);
  border-radius: 15px 15px 0px 0px;
  padding: 2px 77px 2px 77px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.precio2 {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--h2-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h2-font-size, 24px);
  font-weight: var(--h2-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-adir-al-carrito {
  background: var(--principal-de-acento, #6f12e0);
  border-radius: 0px 0px 15px 15px;
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.a-adir-al-carrito2 {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--botones-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--botones-font-size, 15px);
  font-weight: var(--botones-font-weight, 600);
  text-transform: uppercase;
  position: relative;
  width: 206px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background: var(--principal, #1c0538);
  padding: 13px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  flex: 1;
  width: 1870px;
  position: relative;
  overflow: hidden;
}
.frame-12 {
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.con-cenos {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--h2-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h2-font-size, 24px);
  font-weight: var(--h2-font-weight, 400);
  position: relative;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-rminos-y-condiciones {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--h2-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h2-font-size, 24px);
  font-weight: var(--h2-font-weight, 400);
  position: relative;
  width: 365px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-rminos-y-condiciones2 {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--h2-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h2-font-size, 24px);
  font-weight: var(--h2-font-weight, 400);
  position: relative;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-22 {
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 26.01px;
  position: relative;
}
.icons-8-tik-tok-100-1 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.icons-8-twitterx-100-1-1 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.icons-8-instagram-100-1 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.icons-8-facebook-nuevo-100-1 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
