// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@import  "./variables.scss";

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

$bootstrap-icons-font-src: url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// Import custom styles
@import "./global.scss";

// Components - Kairos
@import "components/product-card";

// Sections - Kairos
@import "./sections/navigation.scss";
@import "./sections/footer.scss";
@import "./sections/soporte.scss";
@import "./sections/trabaja_con_nosotros.scss";
