.con-cenos-pc {
  &,
  * {
    box-sizing: border-box;
  }

  background: var(--principal, #1c0538);
  padding: 47px 0px 47px 0px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
  height: 3425px;
  position: relative;
  overflow: hidden;
}

.qu-enes-somos {
  background: var(--principal, #1c0538);
  padding: 41px 26px 41px 26px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.t-tulo {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--h1-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h1-font-size, 32px);
  font-weight: var(--h1-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  color: var(--texto-principal, #ffffff);
  text-align: left;
  font-family: var(--body-text-1-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-text-1-font-size, 32px);
  font-weight: var(--body-text-1-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.historia {
  background: var(--principal, #1c0538);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.imagen {
  align-self: stretch;
  flex-shrink: 0;
  width: 840px;
  position: relative;
  object-fit: cover;
}

.campo-de-texto {
  margin: 0 0 0 -416px;
  background: var(--principal, #1c0538);
  padding: 41px 26px 41px 26px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.de-d-nde-obtenemos-nuestras-claves {
  background: var(--principal, #1c0538);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.nuestro-objetivo-hacer-el-gaming-m-s-barato {
  background: var(--principal, #1c0538);
  padding: 41px 26px 41px 26px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.quieres-unirte-a-nosotros {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.cabecera2 {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--h1-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h1-font-size, 32px);
  font-weight: var(--h1-font-weight, 400);
  position: relative;
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot-n-simple {
  background: var(--principal-de-acento, #6f12e0);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 495px;
  height: 83px;
  position: relative;
  overflow: hidden;
}

.texto2 {
  color: var(--texto-principal, #ffffff);
  text-align: center;
  font-family: var(--h1-font-family, "GasoekOne-Regular", sans-serif);
  font-size: var(--h1-font-size, 32px);
  font-weight: var(--h1-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}